<link rel="stylesheet" href="css/z-tab-dash.css">
<ion-header-bar class="bar-assertive bar bar-header">
  <div class="title">今日疯抢</div>
</ion-header-bar>
<ion-content>
  <!--下拉刷新-->
  <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
  <div class="more" ng-click="godetail(x.id)" ng-repeat="x in datas">
    <img ng-src="{{x.img}}" alt="">
    <p>{{x.tradename}}</p>
    <span class="money">券后 ¥{{x.price-x.codenum|number:1}}</span><span class="liang">销量{{x.sales}}</span>
    <div class="dings">TOP<br>{{$index+1}}</div>
  </div>
  <ion-infinite-scroll on-infinite="loadMoreDate()" distance="1%">
  </ion-infinite-scroll>
</ion-content>

